.footerRoot {
    background-color: #2B2D42;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
}

.socials {
    display: flex;
    gap: 2em;
}

.socialIcon {
    color: #8D99AE;
    font-size: 2rem !important;
    border: 3px solid #8D99AE;
    border-radius: 10px;
    padding: 5px;
}

.socialIcon:hover,
.socialIcon:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    transition: .3s;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #8D99AE
}